body{
    background-color: rgba(175, 133, 217, 0.33);
}


.imgDiv{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.Platte{
    width: 40%;
    max-width: 400px;
    margin: 2%;
    border-radius: 10%;
}

.HeaderH1{
    font-family: myfont;
    margin: 1%;
    color: rgb(61, 61, 61);
}
.HeaderH2{
    text-align: center;
    font-size: 140%;
}
.CheckBoxDiv{

    justify-content: center;
    align-items: center;
    text-align: center;
    align-items: center;
}
.CheckBoxDiv2{
    width: 60%;
    margin:auto;
    padding: 0;
}
.CheckBoxDiv input{
    margin-right: 10px;
}
.CheckBoxDiv span{
    margin-left: 10px;
    font-size: 80%;
    max-width: 50%;
}
.CheckBoxDiv2 label{
    padding: 1%;
}

.Pfeile{
    width: 2%;
    margin: 2%;
}
.button{
  background-color: #f9c9b7;
  border: 1px solid rgb(255, 255, 255);
  border-radius: .5rem;
  box-sizing: border-box;
  color: #111827;
  font-family: myfont;
  font-size: .875rem;
  font-weight: 600;
  line-height: 0.5rem;
  padding: .75rem 1rem;
  text-align: center;
  text-decoration: none #D1D5DB solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: 2%;
}

.button:hover {
  background-color: rgb(249,250,251);
}

.button:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.button:focus-visible {
  box-shadow: none;
}


